body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  height: 100%; }

a {
  text-decoration: none; }

h3 {
  font-weight: bold;
  font-size: 1rem; }

.nav-bar {
  background-color: #211535;
  font-size: 1rem; }

.brand {
  font-size: 2rem;
  font-weight: bold; }

.main {
  margin: 0 1rem;
  display: flex;
  flex-direction: column; }

.section {
  width: 100%;
  height: 90%;
  background-color: #fdfdfd;
  font-size: 0.7rem;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.3rem;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); }
  .section .section__title {
    font-size: 1rem;
    display: inline-block;
    background-color: #211535;
    color: #fff;
    border-radius: 0.3rem;
    border: 1px solid #211535;
    padding: 0.5rem;
    margin: 0;
    font-weight: bold;
    transition: all 0.5s; }
    .section .section__title:hover {
      cursor: pointer;
      background-color: #fff;
      color: #211535;
      border: 1px solid #211535; }
  .section .myTeams,
  .section .otherTeams {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid; }
    .section .myTeams .myTeams__list,
    .section .myTeams .otherTeams__list,
    .section .otherTeams .myTeams__list,
    .section .otherTeams .otherTeams__list {
      background-color: #fff;
      font-size: 1rem;
      margin: 1rem;
      padding: 0.3rem 1rem;
      border: 1px solid #ddd;
      border-radius: 0.2rem;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      transition: 0.5s;
      list-style: none;
      justify-self: center; }
      .section .myTeams .myTeams__list:hover,
      .section .myTeams .otherTeams__list:hover,
      .section .otherTeams .myTeams__list:hover,
      .section .otherTeams .otherTeams__list:hover {
        cursor: pointer;
        transform: scale(1.1); }
      .section .myTeams .myTeams__list__game,
      .section .myTeams .otherTeams__list__game,
      .section .otherTeams .myTeams__list__game,
      .section .otherTeams .otherTeams__list__game {
        margin: 0.9rem;
        display: flex;
        justify-content: space-between; }
        .section .myTeams .myTeams__list__game span,
        .section .myTeams .otherTeams__list__game span,
        .section .otherTeams .myTeams__list__game span,
        .section .otherTeams .otherTeams__list__game span {
          margin-left: 5rem;
          font-weight: bold; }

.section__two {
  height: 20rem; }

@media screen and (min-width: 1500px) {
  .section__news {
    grid-row: 1 / 3;
    grid-column: 2;
    height: auto;
    overflow-y: scroll; } }

.section__news .news {
  display: flex;
  flex-direction: column;
  padding: 0.3rem; }
  .section__news .news__card {
    overflow: hidden;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 992px) {
      .section__news .news__card {
        overflow: hidden;
        flex-direction: row;
        margin-bottom: 1rem;
        border: 1px solid #ddd;
        border-radius: 0.2rem; } }
    .section__news .news__card:hover {
      cursor: pointer; }
    .section__news .news__card .news__image {
      width: 100%;
      height: 100%; }
    .section__news .news__card .card__text {
      text-align: start;
      margin: 1rem; }

@media screen and (min-width: 1500px) {
  .main {
    margin: 0 10rem;
    height: 90vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem; } }

@media screen and (min-width: 992px) {
  .main {
    margin: 0 10rem;
    height: 100%; } }

@media screen and (min-width: 700px) {
  .myTeams,
  .otherTeams {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 355px) {
  .myTeams__list,
  .otherTeams__list {
    background-color: #fff;
    font-size: 1rem;
    width: 17rem;
    margin: 1rem;
    padding: 0.3rem 1rem;
    border: 1px solid #ddd;
    border-radius: 0.2rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    list-style: none;
    justify-self: center; } }

@media screen and (min-width: 992px) {
  .section {
    width: 100%;
    height: 90%;
    background-color: #fdfdfd;
    font-size: 0.7rem;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.3rem;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); } }

@media screen and (min-width: 992px) {
  .section__fav {
    margin: 1rem;
    width: 70%;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; } }

@media screen and (min-width: 992px) {
  .fav__card {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 0.1rem;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1); } }

.contact {
  width: 20rem;
  margin: 2rem auto; }
  .contact__form {
    font-size: 0.8rem;
    padding: 1rem;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; }
    .contact__form__label {
      margin-top: 1rem; }
    .contact__form__input {
      margin-top: 0.2rem;
      border: 1px solid #ccc;
      border-radius: 0.3rem;
      padding: 0.4rem; }
    .contact__form .text-area {
      resize: none; }
    .contact__form .button {
      font-weight: bold;
      padding: 0.6rem;
      border-radius: 0.3rem;
      margin-top: 1rem;
      background-color: #211535;
      border: none;
      color: #fdfdfd;
      box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2);
      transition: 0.5s; }
      .contact__form .button:hover {
        cursor: pointer;
        opacity: 0.7; }

.container__fav {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .container__fav .section__fav {
    margin: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 992px) {
      .container__fav .section__fav {
        width: 90%;
        display: grid;
        grid-template-rows: 10% 90%;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem; } }
    .container__fav .section__fav__logo {
      grid-column: 1 / 4;
      display: flex; }
      .container__fav .section__fav__logo .logo__fav {
        padding: 0.2rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid #ccc;
        overflow: hidden; }
        .container__fav .section__fav__logo .logo__fav__img {
          width: 1.5rem; }
      .container__fav .section__fav__logo .title__logo {
        margin: 0.7rem 0 0 1rem; }
    .container__fav .section__fav .fav__card {
      margin: 1rem 0;
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      border-radius: 0.1rem;
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1); }
      @media screen and (min-width: 992px) {
        .container__fav .section__fav .fav__card {
          height: auto;
          width: 100%;
          display: flex;
          flex-direction: column;
          border: 1px solid #ccc;
          border-radius: 0.1rem;
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1); } }
      .container__fav .section__fav .fav__card:hover {
        cursor: pointer; }
      .container__fav .section__fav .fav__card__img {
        width: 100%; }
      .container__fav .section__fav .fav__card__text {
        margin: 2rem 1rem 0 1rem;
        font-size: 0.8rem; }

.container__games {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .container__games .section {
    width: 80%; }
    .container__games .section .container__teams .myTeams {
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media screen and (min-width: 992px) {
        .container__games .section .container__teams .myTeams {
          display: grid; } }
      .container__games .section .container__teams .myTeams__list__game {
        margin: 5px; }
        .container__games .section .container__teams .myTeams__list__game p {
          margin: 0; }
