body {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

.nav-bar {
  background-color: #211535;
  font-size: 1rem;
}

.brand {
  font-size: 2rem;
  font-weight: bold;
}

/*Secciones*/

h3 {
  font-weight: bold;
  font-size: 1rem;
}

.main {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1500px) {
  .main {
    margin: 0 10rem;
    height: 90vh;
    margin: 0 10rem;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .main {
    margin: 0 10rem;
    height: 90vh;
  }
}

.section {
  width: 100%;
  height: 90%;
  background-color: #fdfdfd;
  font-size: 0.7rem;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.3rem;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.section__two {
  height: 20rem;
}

@media screen and (min-width: 992px) {
  .section {
    width: 100%;
    height: 90%;
    background-color: #fdfdfd;
    font-size: 0.7rem;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.3rem;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
}

.section__title {
  font-size: 1rem;
  display: inline-block;
  background-color: #211535;
  color: #fff;
  border-radius: 0.3rem;
  border: 1px solid #211535;
  padding: 0.5rem;
  margin: 0;
  font-weight: bold;
  transition: all 0.5s;
}

.section__title:hover {
  background-color: #fff;
  color: #211535;
  border: 1px solid #211535;
}

.myTeams,
.otherTeams {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 700px) {
  .myTeams,
  .otherTeams {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.myTeams__list,
.otherTeams__list {
  background-color: #fff;
  font-size: 1rem;
  /* width: 17rem; */
  margin: 1rem;
  padding: 0.3rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  list-style: none;
  justify-self: center;
}

@media screen and (min-width: 355px) {
  .myTeams__list,
  .otherTeams__list {
    background-color: #fff;
    font-size: 1rem;
    width: 17rem;
    margin: 1rem;
    padding: 0.3rem 1rem;
    border: 1px solid #ddd;
    border-radius: 0.2rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    list-style: none;
    justify-self: center;
  }
}

.myTeams__list:hover,
.otherTeams__list:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.myTeams__list__game,
.otherTeams__list__game {
  margin: 0.9rem;
  display: flex;
  justify-content: space-between;
}

.myTeams__list__game span,
.otherTeams__list__game span {
  margin-left: 5rem;
  font-weight: bold;
}

.section__news {
  grid-row: 1 / 3;
  grid-column: 2;
  height: auto;
  overflow-y: scroll;
}

.news {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}

.news__card {
  /* height: 100%; */
  overflow: hidden;
  display: flex;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
}

.news__card {
  cursor: pointer;
}

.news__image {
  width: 100%;
  height: 100%;
}

.card__text {
  text-align: start;
  margin: 1rem;
}

/*Edicion de contacto.html*/

.contact {
  width: 20rem;
  margin: 2rem auto;
}

.contact__form {
  font-size: 0.8rem;
  padding: 1rem;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.contact__form__label {
  margin-top: 1rem;
}

.contact__form__input {
  margin-top: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  padding: 0.4rem;
}

.text-area {
  resize: none;
}

.button {
  font-weight: bold;
  padding: 0.6rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  background-color: #ffd738;
  border: none;
  color: #181a24;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* Seccion Favoritos */

.container__fav {
  margin: 1rem;
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.section__fav {
  margin: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .section__fav {
    margin: 1rem;
    width: 70%;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

.section__fav__logo {
  grid-column: 1 / 4;
  display: flex;
}

.title__logo {
  margin: 0.7rem 0 0 1rem;
}

.logo__fav {
  padding: 0.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #ccc;
  overflow: hidden;
}

.logo__fav__img {
  width: 1.5rem;
}

.fav__card {
  margin: 1rem 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 0.1rem;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 992px) {
  .fav__card {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 0.1rem;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  }
}

.fav__card:hover {
  cursor: pointer;
}

.fav__card__img {
  width: 100%;
}

.fav__card__text {
  margin: 2rem 1rem 0 1rem;
  font-size: 0.8rem;
}
*/

/* Seccion partidos */

.container__games {
  margin-left: 5rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}

/* Seccion equipos */

.container__leagues {
  height: 100%;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (min-width: 1300px) {
  .container__leagues {
    height: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: space-evenly;
  }
}

.league {
  margin: 1rem 0;
  height: 30rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1300px) {
  .league {
    height: 30rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  }
}

.league__name {
  background-color: #fcd949;
  border-radius: 2px;
  width: 100%;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.league__name p {
  margin-left: 1rem;
}

.league__team {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.league__team p {
  margin: 0 1rem;
}

.logo__league {
  border-radius: 50%;
  width: 1.5rem;
}
